.app {
    &__header{
        box-sizing: border-box;
        display: flex;
    }
    &__body {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        background-color: #ebeef3;
    }
    
    ;
}