.articleList {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 938px;
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}