.articleList {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 938px;
    margin-left: auto;
    margin-right: auto;
    &__list {
        display: flex;
        
        flex-direction: column;
        
        
    }
    &__spinBlock {
        display: flex;
        flex-direction: column;
    }
    &__spin {
        margin: 30px auto;
    }
    &__pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}