.article {
    display: flex;
    width: 807px;
    min-height: 938px;
    background-color: white;
    flex-direction: column;
    padding: 20px 15px;
    margin-bottom: 20px;

    &__aboutPost {
        max-width: 530px;
    }
    &__titlePost {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
    &__title {
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        color: #1890FF;
        overflow-x: auto;
        white-space: nowrap;
    }

    &__title::-webkit-scrollbar {
        display: none;
    }
    &__button {
        width: 16px;
        height: 16px;
        border: none; outline: none;
        background-color: white;
        padding: 0;
        display: flex;
    }
    &__span {
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        margin-left: 5px;
    }

   &__description{
        font-family: 'Inter UI';
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        color: #00000080;
        margin-top: 15px;
        max-width: 682px;
        max-height: 70px;
        overflow-wrap: break-word;
        overflow-y: auto;
    }
    &__description::-webkit-scrollbar {
        display: none;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        margin-top: 20px;
        overflow-wrap: break-word;
    }
}